.gridContainer {
	display: none;
	position: absolute;
	top: 200px;
	width: 275px;
	bottom: 0;
}

/* */
.gridContainerMsg {
	margin-top: 5px;
	font-size: 1.1em;
	color: #666;
	margin-left: 45px;
}

/* dGrid */
#grid {
	height: 95%;
	border: none;
	margin-left: 25px;
	width: 230px;
	font-size: 0.85em;
}

/* Object ID */
#grid .field-objID {
	display: none;
}

/*
#grid .field-layer {
	display: none;
}*/

/* Cell text (map name, scale, etc...) */
#grid .field-name {
	width: 90%;
	font-size: 0.9em;
}

/*#grid .field-rmLayer {
	width: 10%;
}*/

/* Slider control */
#grid .field-transparency {
	width: 50%;
	position: absolute;
	left: 90px;
	margin-top: 35%;
}

#grid .dgrid-cell {
	border: none;
}

#grid .dgrid-row:hover {
	background-color: transparent;
	cursor: default;
	/*cursor: pointer;*/
}

#grid .dgrid-selected {
	background-color: transparent;
	/*border: 1px solid #adff2f;*/
	/*cursor: pointer;*/
}

.dgrid-no-data,
.dgrid-loading {
	color: #aaa;
	font-size: 3em;
	padding: 3em;
	text-align: center;
}

.thumbnailMapName {
	font-size: 1.2em;
}

.thumbnailMapImprintYear {
	font-size: 1.2em;
	color: #707070;
}

.thumbnailMapScale {
	font-size: 0.95em;
	color: #707070;
}

/* */
.dgrid-row {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

/* Slider */
table > tr > td.dgrid-cell.dgrid-cell-padding.dgrid-column-3.field-transparency.dgrid-cell-editing {
	position: absolute;
	margin-top: 70px;
	margin-left: -100px;
}

/* Remove Layer Button */
/*table > tr > td.dgrid-cell.dgrid-cell-padding.dgrid-column-1.field-rmLayer > span > span {
	border-radius: 10px !important;
	padding: 2px !important;
}*/

.dgrid-cell-padding {
	padding: 0 !important;
}

.dgrid-row-table {
	margin-top: 10px !important;
}
