.gridContainer {
	display: none;
	position: absolute;
	top: 180px;
	width: 275px;
	bottom: 60px;
}

/* */
.gridContainerMsg {
	margin-top: 5px;
	font-size: 1.1em;
	color: #666;
	margin-left: 45px;
}

/* dGrid */
#grid {
	height: 85%;
	border: none;
	margin-left: 25px;
	margin-right: 5px;
	/*width: 230px;*/
	/*font-size: 0.90em;*/
}

/* Object ID */
#grid .field-objID {
	display: none;
}

/*
#grid .field-layer {
	display: none;
}*/

/* Cell text (map name, scale, etc...) */
#grid .field-name {
	width: 90%;
	/*font-size: 0.9em;*/
}

/*#grid .field-rmLayer {
	width: 10%;
}*/

/* Slider control */
#grid .field-transparency {
	width: 50%;
	position: absolute;
	left: 90px;
	margin-top: 37%;
}

#grid .dgrid-cell {
	border: none;
}

#grid .dgrid-row:hover {
	background-color: transparent;
	cursor: default;
	/*cursor: pointer;*/
}

#grid .dgrid-selected {
	background-color: transparent;
	/*border: 1px solid #adff2f;*/
	/*cursor: pointer;*/
}

.dgrid-no-data,
.dgrid-loading {
	color: #aaa;
	font-size: 3em;
	padding: 3em;
	text-align: center;
}

.dgrid-scroller {
	overflow-y: auto !important;
	margin-top: 0 !important;
}


/* -------- thumbnail --------- */
.thumbnailMapName {
	font-size: 0.8em;
	font-weight: 600;
	padding-top: 3px;
}

.thumbnailMapImprintYear {
	font-size: 0.8em;
	color: #707070;
}

.thumbnailMapScale {
	font-size: 0.8em;
	color: #707070;
}

.downloadLink a:link {
	font-size: 0.8em;
	color: #666666;
}

.downloadLink a:visited {
	font-size: 0.8em;
	color: #666666;
}

.downloadLink a:hover {
	font-size: 0.8em;
	color: #1d2966;
}

.rm-layer-btn {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 5px;
	border-radius: 12px;
	background-color: black;
	color: white;
	border: 1px solid rgb(255, 178, 178);
	opacity: 0.45;
	font-size: 0.8em;
}

.rm-layer-btn:hover {
	background-color: #3f3f3f;
	color: white;
	border: 1px solid rgb(255, 24, 36);
	opacity: 0.95;
}

.rm-layer-icon {
	width: 90px;
	float: left;
	padding: 4px;
}

/* */
.dgrid-row {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

/* Slider */
table > tr > td.dgrid-cell.dgrid-cell-padding.dgrid-column-3.field-transparency.dgrid-cell-editing {
	position: absolute;
	margin-top: 70px;
	margin-left: -100px;
}

/* Remove Layer Button */
/*table > tr > td.dgrid-cell.dgrid-cell-padding.dgrid-column-1.field-rmLayer > span > span {
	border-radius: 10px !important;
	padding: 2px !important;
}*/

.dgrid-cell-padding {
	padding: 0 !important;
}

.dgrid-row-table {
	margin-top: 10px !important;
}
