div.timeline-event-content {
	width: 65px !important;
	height: 35px;
	font-size: 0.8em;
}

div.timeline-event-content:hover {
	cursor: pointer;
}

div.timeline-event-box.inScale {
	background-color: #363636;
	color: #fafafa;
}

div.timeline-event-line.notInScale {
	border-width: 1px;
	opacity: 0.5;
}

div.timeline-event-box.notInScale {
	background-color: #dddddd;
	color: #333333;
	opacity: 0.5;
}

div.timeline-event-line.notInScale {
	border-width: 1px;
	border-color: #bfbfbf;
	opacity: 0.5;
}

.customTooltip {
	width: 300px;
}

div.timeline-event-box.one {
	background-color: #00EB89;
	color: #f9f9f9;
}

div.timeline-event-box.two {
	background-color: #00C49D;
	color: #f9f9f9;
}

div.timeline-event-box.three {
	background-color: #009CB0;
	color: #f9f9f9;
}

div.timeline-event-box.four {
	background-color: #0075C4;
	color: #f9f9f9;
}

div.timeline-event-box.five {
	background-color: #004ED7;
	color: #f9f9f9;
}
